In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pathlib import Path

In [88]:
DATA_DIR = Path('data') / 'Niveles_acuiferos_cartagena'
pd.options.mode.copy_on_write = True

In [89]:
aquifers_inventory = pd.read_excel(DATA_DIR / 'inventario_acuiferos_cartagena.xlsx', header=1)

In [90]:
aquifers_inventory

,Demarcación Hidrográfica,Cod. Piezómetro,Cod. Europeo,Nombre,Cota terreno (msnm),MASb controlada,Provincia,Municipio,Nº Medidas
0,Segura,07.31.011,ES070ESBT07-31-011,Los Cañas,33,CAMPO DE CARTAGENA,Murcia,Cartagena,71
1,Segura,07.31.012,ES070ESBT07-31-012,Lo de Lucas,24,CAMPO DE CARTAGENA,Murcia,Cartagena,89
2,Segura,07.31.101,ES070ESBT07-31-101,Los Beatos,30,CAMPO DE CARTAGENA,Murcia,Cartagena,229
3,Segura,07.31.212,ES070ESBT07-31-212,Cortijo de la Palma,37,CAMPO DE CARTAGENA,Murcia,Cartagena,107
4,Segura,07.31.218,ES070ESBT07-31-218,El Algar,25,CAMPO DE CARTAGENA,Murcia,Cartagena,55
5,Segura,07.31.219,ES070ESBT07-31-219,Los Beatos II,24,CAMPO DE CARTAGENA,Murcia,Cartagena,48

In [91]:
las_canas_levels = pd.read_excel(DATA_DIR / 'niveles_las_canas.xlsx', header=1, parse_dates=['Fecha'], date_format='%d-%m-%Y')
lo_de_lucas_levels = pd.read_excel(DATA_DIR / 'niveles_lo_de_lucas.xlsx', header=1, parse_dates=['Fecha'], date_format='%d-%m-%Y')
algar_levels = pd.read_excel(DATA_DIR / 'niveles_el_algar.xlsx', header=1, parse_dates=['Fecha'], date_format='%d-%m-%Y')
cortijo_la_palma_levels = pd.read_excel(DATA_DIR / 'niveles_cortijo_la_palma.xlsx', header=1, parse_dates=['Fecha'], date_format='%d-%m-%Y')
los_beatos_levels = pd.read_excel(DATA_DIR / 'niveles_los_beatos.xlsx', header=1, parse_dates=['Fecha'], date_format='%d-%m-%Y')
los_beatos_2_levels = pd.read_excel(DATA_DIR / 'niveles_los_beatos_2.xlsx', header=1, parse_dates=['Fecha'], date_format='%d-%m-%Y')

In [92]:
las_canas_levels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 19 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Cod. Piezómetro                                               71 non-null     object
 1   Cod. Europeo                                                  71 non-null     object
 2   Profundidad obra (m)                                          71 non-null     int64
 3   Provincia                                                     71 non-null     object
 4   Municipio                                                     71 non-null     object
 5   Fecha Nivel                                                   71 non-null     object
 6   Nº Medidas                                                    71 non-null     int64
 7   Nombre                                                        71 non-null     object
 8   Demarcación Hidrográfica                                      71 non-null     object
 9   Masa de agua subterránea sobre la que se sitúa el piezómetro  71 non-null     object
 10  Unidad Hidrogeológica                                         71 non-null     object
 11  Cota terreno (msnm)                                           71 non-null     int64
 12  Profundidad (m)                                               71 non-null     int64
 13  Coordenada X (ETRS89)                                         71 non-null     float64
 14  Coordenada Y (ETRS89)                                         71 non-null     object
 15  Descripción                                                   71 non-null     object
 16  Fecha                                                         71 non-null     datetime64[ns]
 17  Nivel                                                         71 non-null     object
 18  Cota                                                          71 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(4), object(13)
memory usage: 10.7+ KB

In [93]:
levels_list = [las_canas_levels,
               lo_de_lucas_levels,
               algar_levels,
               cortijo_la_palma_levels,
               los_beatos_levels,
               los_beatos_2_levels
               ]

levels_df= pd.DataFrame()

columnas = ["Profundidad (m)", "Coordenada X (ETRS89)", "Coordenada Y (ETRS89)", 'Cod. Europeo']

for level in levels_list:
    level = pd.DataFrame(level.loc[0, columnas]).T
    levels_df = pd.concat([levels_df, level])
    
levels_df

,Profundidad (m),Coordenada X (ETRS89),Coordenada Y (ETRS89),Cod. Europeo
0,32,684.261,4.170.027,ES070ESBT07-31-011
0,120,682.966,4.175.392,ES070ESBT07-31-012
0,29,687.538,4.171.093,ES070ESBT07-31-218
0,200,680.142,4.176.139,ES070ESBT07-31-212
0,140,685.111,4.170.513,ES070ESBT07-31-101
0,130,685.374,4.171.119,ES070ESBT07-31-219

In [94]:
aquifers_inventory = aquifers_inventory.merge(levels_df, on='Cod. Europeo', how='left')

In [95]:
aquifers_inventory

,Demarcación Hidrográfica,Cod. Piezómetro,Cod. Europeo,Nombre,Cota terreno (msnm),MASb controlada,Provincia,Municipio,Nº Medidas,Profundidad (m),Coordenada X (ETRS89),Coordenada Y (ETRS89)
0,Segura,07.31.011,ES070ESBT07-31-011,Los Cañas,33,CAMPO DE CARTAGENA,Murcia,Cartagena,71,32,684.261,4.170.027
1,Segura,07.31.012,ES070ESBT07-31-012,Lo de Lucas,24,CAMPO DE CARTAGENA,Murcia,Cartagena,89,120,682.966,4.175.392
2,Segura,07.31.101,ES070ESBT07-31-101,Los Beatos,30,CAMPO DE CARTAGENA,Murcia,Cartagena,229,140,685.111,4.170.513
3,Segura,07.31.212,ES070ESBT07-31-212,Cortijo de la Palma,37,CAMPO DE CARTAGENA,Murcia,Cartagena,107,200,680.142,4.176.139
4,Segura,07.31.218,ES070ESBT07-31-218,El Algar,25,CAMPO DE CARTAGENA,Murcia,Cartagena,55,29,687.538,4.171.093
5,Segura,07.31.219,ES070ESBT07-31-219,Los Beatos II,24,CAMPO DE CARTAGENA,Murcia,Cartagena,48,130,685.374,4.171.119

In [96]:
for i, level in enumerate(levels_list):
    levels_list[i] = level.iloc[:, [1, -3, -2, -1]]
    levels_list[i].loc[:, 'Mes'] = level['Fecha'].dt.month
    levels_list[i].loc[:, 'Año'] = level['Fecha'].dt.year

In [98]:
levels_list[0].head()

         Cod. Europeo      Fecha  Nivel  Cota  Mes   Año
0  ES070ESBT07-31-011 1975-09-04  29,05  3,95    9  1975
1  ES070ESBT07-31-011 1975-11-04  29,05  3,95   11  1975
2  ES070ESBT07-31-011 1981-07-24  27,40  5,60    7  1981
3  ES070ESBT07-31-011 1981-09-25  26,40  6,60    9  1981
4  ES070ESBT07-31-011 1981-12-01  25,20  7,80   12  1981

In [99]:
levels_list[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cod. Europeo  71 non-null     object
 1   Fecha         71 non-null     datetime64[ns]
 2   Nivel         71 non-null     object
 3   Cota          71 non-null     object
 4   Mes           71 non-null     int32
 5   Año           71 non-null     int32
dtypes: datetime64[ns](1), int32(2), object(3)
memory usage: 2.9+ KB

In [100]:
levels_list[0].head()

         Cod. Europeo      Fecha  Nivel  Cota  Mes   Año
0  ES070ESBT07-31-011 1975-09-04  29,05  3,95    9  1975
1  ES070ESBT07-31-011 1975-11-04  29,05  3,95   11  1975
2  ES070ESBT07-31-011 1981-07-24  27,40  5,60    7  1981
3  ES070ESBT07-31-011 1981-09-25  26,40  6,60    9  1981
4  ES070ESBT07-31-011 1981-12-01  25,20  7,80   12  1981